@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using BTL_ASP.Models

<link rel="stylesheet" href="~/Content/styles/customerInfo.css">
<script src="~/Scripts/jquery-3.3.1.js"></script>
<div class="info">
    <div class="TTTK">
        <h1>Thông tin tài khoản</h1>
    </div>
    @{
        KhachHang khachHang = ViewBag.KhachHang;

        <div> <span class="T">Email</span> <span><input class="in" type="text" value="@khachHang.Email"> </span> </div>
        <div> <span class="T">Phone's number</span> <span><input class="in" type="text" value="@khachHang.SDT"> </span> </div>
        <div> <span class="T">Name</span> <span><input class="in" type="text" value="@khachHang.TenKH"> </span> </div>
        <div>
            @if (khachHang.GioiTinh == "Nam")
            {
                <span class="T">Sex</span>
                <span>
                    Male <input class="radiobt " type="radio" name="gender" checked>
                    Female  <input class="radiobt" type="radio" name="gender">
                </span>
            }
            else
            {
                <span class="T">Sex</span> <span>
                    Male <input class="radiobt " type="radio" name="gender">
                    Female  <input class="radiobt" type="radio" name="gender" checked>
                </span>
            }
        </div>
        <div> <span class="T">Birthday</span> <span><input class="in" type="text" value=" @khachHang.NgaySinh.Value.ToString("dd/MM/yyyy")"> </span> </div>
        <div> <span class="T">Sign up day</span> <span><input class="in" readonly type="text" value="@khachHang.DangKyNgay.Value.ToString("dd/MM/yyyy")"> </span> </div>
    }
    <div class="change-password-div" onClick="theFuntion()">
        <h5>Change password</h5>
    </div>
    <div class="password-changer">
        <div>
            <label class="T" for="old-password"> Old password</label>
            <input class="in" type="password" id="old-password">
        </div>
        <div>
            <label class="T" for="password"> Password</label>
            <input class="in" type="password" id="password">
        </div>
        <div>
            <label class="T" for="re-password"> Re-password</label>
            <input class="in" type="password" id="re-password">
        </div>
        <div class="alert alert-success" id="alert-success" style="display:none">
            <strong>Success!</strong> Your password is changed.
        </div>
        <div class="alert alert-danger" id="alert-fail" style="display:none">
            <strong>Fail!</strong> Password is not change.
        </div>
        <div style="text-align: center;">
            <input class="buttonluu" type="button"
                   value="Save password" onclick="changePassword()">
        </div>
    </div>
    <div style="text-align: center;"> <input class="button" type="button" value="Save info"> </div>
</div>
<div class="shopping-history">
    <div class="TTTK">
        <h1>Purchase history</h1>
    </div>
    <div class="styles__StyledAccountListOrder-sc-6t66uv-0 glOjBk">
        <div class="heading">My order</div>
        <div class="history" id="history">
            @Html.Action("History")
        </div>
    </div>
    <a class="chatbubble" href="https://www.messenger.com/t/sonnam99" target="_blank"><img class="bubble-img" src="~/Content/images/items/messenger.png"></a>
</div>
<script>
    function theFuntion() {
        var changer = document.querySelector("div.password-changer");
        changer.style.display = "block";
    }
    function changePassword() {
        document.getElementById('alert-success').style.display = 'none';
        document.getElementById('alert-fail').style.display = 'none';
        fetch('@Url.Action("ChangePassword","Home")', {
            method: 'POST',
            headers: {
                "Content-Type": "application/x-www-form-urlencoded; charset=UTF-8"
            },
            body: 'oldpassword=' + document.getElementById('old-password').value + '&password=' + document.getElementById('password').value
        })
            .then((resp) => { return resp.text() })
            .then((text) => {
                if (text == 'ok') {
                    document.getElementById('alert-success').style.display = 'block';
                    document.getElementById('old-password').value = "";
                    document.getElementById('password').value = "";
                    document.getElementById('re-password').value = "";
                } else {
                    document.getElementById('alert-fail').style.display = 'block';
                    document.getElementById('old-password').value = "";
                    document.getElementById('password').value = "";
                    document.getElementById('re-password').value = "";
                }
            })
    }    
</script>