
@{
    ViewBag.Title = "CustomerInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/styles/customerInfo.css">
<div class="info">
    <div class="TTTK">
        <h1>Thông tin tài khoản</h1>
    </div>
    <div> <span class="T">Email</span> <span><input class="in" type="text"> </span> </div>
    <div> <span class="T">SĐT</span> <span><input class="in" type="text"> </span> </div>
    <div> <span class="T">Họ và tên đệm</span> <span><input class="in" type="text"> </span> </div>
    <div> <span class="T">Tên</span> <span><input class="in" type="text"> </span> </div>
    <div>
        <span class="T">Giới tính</span> <span>
            Nam <input class="radiobt" type="radio" name="gender"> Nữ
            <input class="radiobt" type="radio" name="gender">
        </span>
    </div>
    <div> <span class="T">Ngày sinh</span> <span><input class="in" type="text"> </span> </div>
    <div class="change-password-div" onClick="theFuntion()">
        <h5>Thay đổi mật khẩu</h5>
    </div>
    <div class="password-changer">
        <div>
            <label class="T" for="old-password"> Mật khẩu cũ</label>
            <input class="in" type="password" id="old-password">
        </div>
        <div>
            <label class="T" for="password"> Nhập mật khẩu</label>
            <input class="in" type="password" id="password">
        </div>
        <div>
            <label class="T" for="re-password"> Nhập lại mật khẩu</label>
            <input class="in" type="password" id="re-password">
        </div>
        <div style="text-align: center;">
            <input class="buttonluu" type="button"
                   value="Lưu lại thay đổi mật khẩu">
        </div>
    </div>
    <div style="text-align: center;"> <input class="button" type="button" value="Thay đổi thông tin"> </div>
</div>
<div class="shopping-history">
    <div class="TTTK">
        <h1>Lịch sử mua hàng</h1>
    </div>
    <div class="styles__StyledAccountListOrder-sc-6t66uv-0 glOjBk">
        <div class="heading">Đơn hàng của tôi</div>
        <div class="inner">
            <table>
                <thead>
                    <tr>
                        <th>Mã đơn hàng</th>
                        <th>Ngày mua</th>
                        <th>Sản phẩm</th>
                        <th>Số lượng</th>
                        <th>Tổng tiền</th>
                        <th>Trạng thái đơn hàng</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (BTL_ASP.Models.LichSuMuaHang a in ViewBag.LichSu)
                    {
                        <tr>
                    <td>@a.ID</td>
                    <td>@a.NgayTao</td>
                    <td>@a.TenSP</td>
                    <td>@a.SoLuong</td>
                    <td>@a.ThanhTien</td>
                    <td>@a.TinhTrang</td>
                        </tr>
                    }                
                    </tbody>
                </table>
        </div>
        <ul class="Pagination__StyledPagination-sc-1k08bf0-0 gZYGWg">
            <li class="is-active">1</li>
            <li class="">2</li>
            <li class="next">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24"
                     height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
                </svg>
            </li>
        </ul>
    </div>
</div>
<script src="bootstrap-4.4.1-dist/jquery-3.5.1.js"></script>
<script src="bootstrap-4.4.1-dist/js/bootstrap.js"></script>
<script>
    function theFuntion() {
        var changer = document.querySelector("div.password-changer");
        if (changer.style.display === "none") {
            changer.style.display = "block";
        }
        else {
            changer.style.display = "none";
        }
    }
</script>