@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using BTL_ASP.Models;

<link rel="stylesheet" href="~/Content/styles/homestyle.css">
<link rel="stylesheet" href="~/Content/styles/flickity.css" media="screen">

<div class="carousel" data-flickity='{ "autoPlay": 2000, "imagesLoaded": true,"wrapAround": true }'>
    @foreach (AnhSanPham anh in ViewBag.Silde)
    {
        <a href="@Url.Action("Product","Home",new { id = anh.IDSP })"><img src="@Url.Content("~/Content/images/images/")@anh.LinkAnh"></a>
    }
</div>
<div class="container-products">
    <div class="prefixtitle">
        <span class="title">Top Seller</span>
    </div>
    <div class="grid-container">
        @foreach (AnhSanPham anh in ViewBag.RandSell)
        {
            <div class="grid-item"> <a href="@Url.Action("Product","Home",new { id = anh.IDSP })"><img src="@Url.Content("~/Content/images/images/")@anh.LinkAnh"></a></div>
        }
    </div>
    <div class="prefixtitle">
        <span class="title">Key Boards</span>
    </div>
    <div class="grid-container">
        @foreach (AnhSanPham anh in ViewBag.RandKb)
        {
            <div class="grid-item"> <a href="@Url.Action("Product","Home",new { id = anh.IDSP })"><img src="@Url.Content("~/Content/images/images/")@anh.LinkAnh"></a></div>
        }
    </div>
    <div class="prefixbutton">
        <a href="@Url.Action("Lists","Home", new { product = "Keyboards" } )"><button class="button">More Products</button></a>
    </div>
    <div class="prefixtitle">
        <span class="title">Other</span>
    </div>
    <div class="grid-container">
        @foreach (AnhSanPham anh in ViewBag.RandO)
        {
            <div class="grid-item"> <a href="@Url.Action("Product","Home",new { id = anh.IDSP })"><img src="@Url.Content("~/Content/images/images/")@anh.LinkAnh"></a></div>
        }
    </div>
    <div class="prefixbutton">
        <a href="#"><button class="button">More Other</button></a>
    </div>
    <div class="prefixtitle"> </div>
</div>

<script src='~/Content/scripts/flickity.pkgd.js'></script>
