
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using BTL_ASP.Models;
@model PagedList.IPagedList<BTL_ASP.Models.SanPham>
@using PagedList.Mvc;

<link rel="stylesheet" href="~/Content/styles/liststyle.css">

<div><img src="~/Content/images/items/listitem.jpg"></div>
<div class="prefixtitle">
    <span class="title">All Products From</span>
</div>
<div class="row">
    @foreach (SanPham sp in Model)
    {
        <div class="col-md-4">
            <div class="product">
                <div class="product-img-wrapper">
                    <a href=" @Url.Action("Product","Home",new { id = sp.ID })">
                        <img src="@Url.Content("~/Content/images/images/" + ((sp.AnhSanPhams as HashSet<AnhSanPham>).ElementAt(0).LinkAnh) )" class="product-img">
                    </a>
                </div>
                <div class="product-price">$@sp.Gia USD</div>
                <div class="product-name"><a href=" @Url.Action("Product","Home",new { id = sp.ID })">@sp.TenSP</a></div>
            </div>
        </div>
    }
</div>
<nav aria-label="Page navigation example ">
    <ul class="pagination justify-content-center" style="margin-top: 40px;">
        <li class="page-item">@Html.PagedListPager(Model, page => Url.Action(ViewBag.Action,"Home", new {searchInfo = Request.QueryString["searchInfo"],product = Request.QueryString["product"], page}), new PagedListRenderOptions() { LiElementClasses = new List<string> { "page-link" }, MaximumPageNumbersToDisplay = 3 } )</li>
    </ul>
</nav>