@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using BTL_ASP.Models;

<link rel="stylesheet" href="~/Content/styles/payment.css">

<div class="content-wrapper">
    <p class="h4 text-header">PAYMENT</p>
    <main style="background: rgb(255, 255, 255);">
        <div class="Container-itwfbd-0 jFkAwY" style="display: flex;width: 1200px;flex-wrap: wrap;margin: auto;margin-top: 30px;">
            <div class="styles__Left-hcztvk-1 ggAFge">
                <div class="styles__Section-hcztvk-0 fwsEni">
                    <h3 class="title">1. Shipping method</h3>
                    <div class="ShippingMethods__StyledShippingMethods-sc-10myobp-0 dnmKst">
                        <div class="ShippingMethods__StyledMethod-sc-10myobp-1 jvJKXm">
                            <label class="RadioCheckout__StyledRadio-bkaeis-0 bqACGT">
                                <input type="radio" readonly=""
                                       name="shipping-methods" value="1" checked=""><span class="radio-fake"></span><span class="label">
                                    <div class="label-no-shippments">

                                        <div>
                                            <span class="no-shipping-fee">Free</span><span class="method-name">Standard shipping</span>
                                        </div>
                                    </div>
                                </span>
                            </label>
                        </div>
                        <div class="ShippingMethods__StyledMethod-sc-10myobp-1 jvJKXm">
                            <label class="RadioCheckout__StyledRadio-bkaeis-0 bqACGT">
                                <input type="radio" readonly=""
                                       name="shipping-methods" value="1"><span class="radio-fake"></span><span class="label">
                                    <div class="label-no-shippments">

                                        <div>
                                            <span class="no-shipping-fee">Free</span><span class="method-name">Fast shipping</span>
                                        </div>
                                    </div>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="styles__Section-hcztvk-0 fwsEni">
                    <h3 class="title">2. Payment method</h3>
                    <div class="styles__StyledPaymentMethods-sc-1u5r3pb-0 fJEQQi">
                        <ul class="list">
                            <li class="styles__StyledMethod-sc-1u5r3pb-1 fTvtIP">
                                <label class="RadioCheckout__StyledRadio-bkaeis-0 bqACGT">
                                    <input type="radio"
                                           readonly="" name="payment-methods" value="cybersource"><span class="radio-fake"></span><span class="label">COD</span>
                                </label>
                                <div class="VirtualCredit__StyledCredit-sc-1kid5w3-0 ZLPVe"></div>
                            </li>
                            <li class="styles__StyledMethod-sc-1u5r3pb-1 fTvtIP">
                                <label class="RadioCheckout__StyledRadio-bkaeis-0 bqACGT">
                                    <input type="radio"
                                           readonly="" name="payment-methods" value="cybersource"><span class="radio-fake"></span><span class="label">
                                        Via Visa, Master, JCB
                                    </span>
                                </label>
                                <div class="VirtualCredit__StyledCredit-sc-1kid5w3-0 ZLPVe"></div>
                            </li>
                            <li class="styles__StyledMethod-sc-1u5r3pb-1 fTvtIP">
                                <label class="RadioCheckout__StyledRadio-bkaeis-0 bqACGT">
                                    <input type="radio"
                                           readonly="" name="payment-methods" value="pay123"><span class="radio-fake"></span><span class="label">
                                        Via ATM's card, Internet
                                        Banking (Free)
                                    </span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <form action="/Home/Checkout" method="post">
                    <div class="order-button">
                        <button class="">ORDER</button>
                        <p>(Please check your order befor order)</p>
                    </div>
                </form>
            </div>
            <div class="styles__Right-hcztvk-2 jFEIKb">
                <div class="ShippingAddress__StyledShippingAddress-sc-12icqkv-0 fxjiAa">
                    <div class="title"><span>Shipping address</span><a href="/Home/Shipping">Change</a></div>
                    <div class="address">
                        <span class="nameaaa">@ViewBag.GioHang.TenKH</span><span class="street">
                            @ViewBag.GioHang.DiaChi
                        </span><span class="phone">Phone's number: @ViewBag.GioHang.SDT</span>
                    </div>
                </div>
                <div class="OrderSummary__StyledOrderSummary-ue7sy3-0 UHbjr">
                    <div class="title">
                        <span>Order (@ViewBag.GioHang.SanPhamGioHangs.Count product)</span><a href="/Home/ShopCart">Change</a>
                    </div>
                    <div class="cart">
                        <div class="product">
                            @foreach (SanPhamGioHang sp in ViewBag.GioHang.SanPhamGioHangs)
                            {
                                <div class="OrderSummary__StyledItem-ue7sy3-1 iylcMU">
                                    <div class="info">
                                        <strong class="qty">@sp.SoLuong x</strong>
                                        <a href="/Home/Product/@sp.IDSP"
                                           target="_blank" class="product-name">@sp.SanPham.TenSP</a>
                                    </div>
                                    <div class="price">$@sp.SanPham.Gia</div>
                                </div>
                            }
                        </div>
                        <div class="price-summary">
                            <div class="OrderSummary__StyledPriceInfo-ue7sy3-2 jPiCqD">
                                <div class="nameaaa">Price</div>
                                <div class="value">$@ViewBag.GioHang.TongTien</div>
                            </div>
                            <div class="OrderSummary__StyledPriceInfo-ue7sy3-2 jPiCqD">
                                <div class="nameaaa">Shipping's price</div>
                                <div class="value">0đ</div>
                            </div>
                            <div class="total">
                                <div class="nameaaa">Total:</div>
                                <div class="value">$@ViewBag.GioHang.TongTien<i>(Include VAT)</i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="styles__FreeshipTooltip-hcztvk-4 nxmyE">
                    <div class="arrow"></div>
                    <div class="content"><span>Your order's shipping's fee is free.</span></div>
                </div>
            </div>
        </div>
    </main>
</div>