@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using BTL_ASP.Models;

<link rel="stylesheet" href="~/Content/styles/payment.css">

<div class="content-wrapper">
    <p class="h4 text-header">THANH TOÁN VÀ ĐẶT MUA</p>
    <main style="background: rgb(255, 255, 255);">
        <div class="Container-itwfbd-0 jFkAwY" style="display: flex;width: 1200px;flex-wrap: wrap;margin: auto;margin-top: 30px;">
            <div class="styles__Left-hcztvk-1 ggAFge">
                <div class="styles__Section-hcztvk-0 fwsEni">
                    <h3 class="title">1. Chọn hình thức giao hàng</h3>
                    <div class="ShippingMethods__StyledShippingMethods-sc-10myobp-0 dnmKst">
                        <div class="ShippingMethods__StyledMethod-sc-10myobp-1 jvJKXm">
                            <label class="RadioCheckout__StyledRadio-bkaeis-0 bqACGT">
                                <input type="radio" readonly=""
                                       name="shipping-methods" value="1" checked=""><span class="radio-fake"></span><span class="label">
                                    <div class="label-no-shippments">

                                        <div>
                                            <span class="no-shipping-fee">Miễn phí</span><span class="method-name">Giao tiêu chuẩn</span>
                                        </div>
                                    </div>
                                </span>
                            </label>
                        </div>
                        <div class="ShippingMethods__StyledMethod-sc-10myobp-1 jvJKXm">
                            <label class="RadioCheckout__StyledRadio-bkaeis-0 bqACGT">
                                <input type="radio" readonly=""
                                       name="shipping-methods" value="1"><span class="radio-fake"></span><span class="label">
                                    <div class="label-no-shippments">

                                        <div>
                                            <span class="no-shipping-fee">Miễn phí</span><span class="method-name">Giao hàng nhanh</span>
                                        </div>
                                    </div>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="styles__Section-hcztvk-0 fwsEni">
                    <h3 class="title">2. Chọn hình thức thanh toán</h3>
                    <div class="styles__StyledPaymentMethods-sc-1u5r3pb-0 fJEQQi">
                        <ul class="list">
                            <li class="styles__StyledMethod-sc-1u5r3pb-1 fTvtIP">
                                <label class="RadioCheckout__StyledRadio-bkaeis-0 bqACGT">
                                    <input type="radio"
                                           readonly="" name="payment-methods" value="cybersource"><span class="radio-fake"></span><span class="label">Thanh toán tiền mặt khi nhận hàng</span>
                                </label>
                                <div class="VirtualCredit__StyledCredit-sc-1kid5w3-0 ZLPVe"></div>
                            </li>
                            <li class="styles__StyledMethod-sc-1u5r3pb-1 fTvtIP">
                                <label class="RadioCheckout__StyledRadio-bkaeis-0 bqACGT">
                                    <input type="radio"
                                           readonly="" name="payment-methods" value="cybersource"><span class="radio-fake"></span><span class="label">
                                        Thanh toán bằng thẻ quốc tế
                                        Visa, Master, JCB
                                    </span>
                                </label>
                                <div class="VirtualCredit__StyledCredit-sc-1kid5w3-0 ZLPVe"></div>
                            </li>
                            <li class="styles__StyledMethod-sc-1u5r3pb-1 fTvtIP">
                                <label class="RadioCheckout__StyledRadio-bkaeis-0 bqACGT">
                                    <input type="radio"
                                           readonly="" name="payment-methods" value="pay123"><span class="radio-fake"></span><span class="label">
                                        Thẻ ATM nội địa/Internet
                                        Banking (Miễn phí thanh toán)
                                    </span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="order-button">
                    <button class="">ĐẶT MUA</button>
                    <p>(Xin vui lòng kiểm tra lại đơn hàng trước khi Đặt Mua)</p>
                </div>
            </div>
            <div class="styles__Right-hcztvk-2 jFEIKb">
                <div class="ShippingAddress__StyledShippingAddress-sc-12icqkv-0 fxjiAa">
                    <div class="title"><span>Địa chỉ giao hàng</span><a href="/Home/Shipping">Sửa</a></div>
                    <div class="address">
                        <span class="nameaaa">@ViewBag.GioHang.TenKH</span><span class="street">
                            @ViewBag.GioHang.DiaChi
                        </span><span class="phone">Điện thoại: @ViewBag.GioHang.SDT</span>
                    </div>
                </div>
                <div class="OrderSummary__StyledOrderSummary-ue7sy3-0 UHbjr">
                    <div class="title">
                        <span>Đơn hàng (@ViewBag.GioHang.SanPhamGioHangs.Count sản phẩm)</span><a href="/Home/ShopCart">Sửa</a>
                    </div>
                    <div class="cart">
                        <div class="product">
                            @foreach (SanPhamGioHang sp in ViewBag.GioHang.SanPhamGioHangs)
                            {
                            <div class="OrderSummary__StyledItem-ue7sy3-1 iylcMU">
                                <div class="info">
                                    <strong class="qty">@sp.SoLuong x</strong>
                                    <a href="/Home/Product/@sp.IDSP"
                                       target="_blank" class="product-name">@sp.SanPham.TenSP</a>
                                </div>
                                <div class="price">$@sp.SanPham.Gia</div>
                            </div>
                            }
                            </div>
                        <div class="price-summary">
                            <div class="OrderSummary__StyledPriceInfo-ue7sy3-2 jPiCqD">
                                <div class="nameaaa">Tạm tính</div>
                                <div class="value">$@ViewBag.GioHang.TongTien</div>
                            </div>
                            <div class="OrderSummary__StyledPriceInfo-ue7sy3-2 jPiCqD">
                                <div class="nameaaa">Phí vận chuyển</div>
                                <div class="value">0đ</div>
                            </div>
                            <div class="total">
                                <div class="nameaaa">Thành tiền:</div>
                                <div class="value">$@ViewBag.GioHang.TongTien<i>(Đã bao gồm VAT nếu có)</i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="styles__FreeshipTooltip-hcztvk-4 nxmyE">
                    <div class="arrow"></div>
                    <div class="content"><span>Đơn hàng bạn sẽ được miễn phí vận chuyển.</span></div>
                </div>
            </div>
        </div>
    </main>
</div>