
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using BTL_ASP.Models;

@Styles.Render("~/Content/styles/product.css")

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 pr-5 pl-0">
            <div class="imageproduct"><img style="width: 100%;"></div>
            <div class="row">
                @foreach (AnhSanPham anh in (ViewBag.SanPham.AnhSanPhams as HashSet<AnhSanPham>))
                {
                    <div class="moreimageproduct col-md-2 "><img src="@Url.Content("~/Content/images/images/")@anh.LinkAnh" style="width: 100%;"></div>
                }
            </div>
        </div>
        <div class="col-md-4 col-md-offset-2">
            <form action="/Home/Product" method="post">
                <div class="nameproduct">@ViewBag.SanPham.TenSP</div>
                <input class="id" id="masp" name="masp" value="@ViewBag.SanPham.ID" style="display:none;">
                <div class="price">$@ViewBag.SanPham.Gia USD</div>
                <div class="number" style=" font-size: 20px;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;margin-bottom: 10px">
                    Quantity
                    <input class="number-input" id="soluong" name="soluong" type="number" value="1" min="1" onkeydown="return false" style="text-align: center;max-width: 60px;margin-left: 10px;">
                </div>
                <button class="buttonbuy" type="submit" onclick="save()">Buy</button>
                <div>
                    @ViewBag.SanPham.MoTa
                </div>
            </form>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>
    $('.moreimageproduct').click(function () {
        $('.moreimageproduct').removeClass('productborder');
        $('.imageproduct').children('img').attr('src', $(this).children('img').attr('src'));
        $(this).addClass('productborder');
    });
    $(document).ready(function () {
        // your code
        document.querySelector('.imageproduct img').src = (document.querySelector('.moreimageproduct img').src);
        document.querySelector('.moreimageproduct').classList.add('productborder');
    });
    function change(e) {
        var parent = e.parentElement;
        console.log(parent.childNodes);
        if (e.innerText == '+') {
            parent.childNodes[2].value++;
        }
        else if (e.innerText == '-') {
            if (parent.childNodes[2].value > 1) {
                parent.childNodes[2].value--;
            }
        }
    }
</script>