@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using BTL_ASP.Models;

<link rel="stylesheet" href="~/Content/styles/shopcart.css">
@if (((GioHang)Model).SanPhamGioHangs.Count != 0)
{
    <div class="h4 text-header">My shopping cart</div>
    <div class="container">
        <div class="row">
            <div class="col-9">
                <div class="shopping-history">
                    <div class="glOjBk">
                        <div class="inner">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Số thứ tự</th>
                                        <th>Mã sản phẩm</th>
                                        <th>Sản phẩm</th>
                                        <th>Số lượng</th>
                                        <th>Thành tiền</th>
                                        <th>Huỷ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{int index = 1;
                                        foreach (SanPhamGioHang sp in ((GioHang)Model).SanPhamGioHangs)
                                        {
                                            <tr>
                                                <td>@index</td>
                                                <td>@sp.IDSP</td>
                                                <td>@sp.SanPham.TenSP</td>
                                                <td>
                                                    <button class="control-button" onclick="change(this)">-</button>
                                                    <input class="number-input" type="number" value="@sp.SoLuong" min="1" onkeydown="return false">
                                                    <button class="control-button" onclick="change(this)">+</button>
                                                </td>
                                                <td>@sp.ThanhTien</td>
                                                <td><a onclick="removeRow(this)" class="close">&times;</a></td>
                                            </tr>
                                            index += 1;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="result-wrapper">
                    <div class="result">
                        @{ decimal sum = 0;
                            foreach (SanPhamGioHang sp in ((GioHang)Model).SanPhamGioHangs)
                            {
                                sum = sum + sp.ThanhTien ?? 0;
                            }
                        }
                        <div class="total">Tổng tiền: $@sum</div>
                        <button type="button" class="btn btn-primary">Mua hàng</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function change(e) {
            var parent = e.parentElement;
            if (e.innerText == '+') {
                parent.getElementsByTagName('input')[0].value++;
                $.post('@Url.Action("UpdateGioHang", "Home")', {
                    idSanPham: parent.parentElement.getElementsByTagName('td')[1].innerText, soLuong: parent.getElementsByTagName('input')[0].value
                }, function (data) {
                        console.log(data);
                        var x = JSON.parse(data);
                        document.getElementsByClassName('total')[0].innerText = 'Tổng tiền: $' + x.TongTien;
                        parent.parentElement.getElementsByTagName('td')[4].innerText = x.ThanhTien;
                });
            }
            else if (e.innerText == '-') {
                if (parent.getElementsByTagName('input')[0].value > 1) {
                    parent.getElementsByTagName('input')[0].value--;
                }
                $.post('@Url.Action("UpdateGioHang", "Home")', {
                    idSanPham: parent.parentElement.getElementsByTagName('td')[1].innerText, soLuong: parent.getElementsByTagName('input')[0].value
                }, function (data) {
                        console.log(data);
                        var x = JSON.parse(data);
                        document.getElementsByClassName('total')[0].innerText = 'Tổng tiền: $' + x.TongTien;
                        parent.parentElement.getElementsByTagName('td')[4].innerText = x.ThanhTien;
                });
            }
        }

        function removeRow(e) {
            (e.parentElement).parentElement.style.display = 'none';
        }
    </script>
}
else
{
    @Html.Partial("ShopCartNull")
}

