@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using BTL_ASP.Models;

<link rel="stylesheet" href="~/Content/styles/shopcart.css">
@if (Model.Count != 0)
{
    <div class="h4 text-header">My shopping cart</div>
    <div class="container">
        <div class="row">
            <div class="col-9">
                <div class="shopping-history">
                    <div class="glOjBk">
                        <div class="inner">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Số thứ tự</th>
                                        <th>Sản phẩm</th>
                                        <th>Số lượng</th>
                                        <th>Thành tiền</th>
                                        <th>Huỷ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (GioHangHienThi sp in Model)
                                    {
                                        <tr>
                                            <td>@sp.STT</td>
                                            <td>@sp.TenSp</td>
                                            <td>
                                                <button class="control-button" onclick="change(this)">-</button>
                                                <input class="number-input" type="number" value="@sp.SoLuong" min="1" onkeydown="return false">
                                                <button class="control-button" onclick="change(this)">+</button>
                                            </td>
                                            <td>@sp.ThanhTien</td>
                                            <td><a onclick="removeRow(this)" class="close">&times;</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="result-wrapper">
                    <div class="result">
                        @{ decimal sum = 0;
                            foreach (GioHangHienThi sp in Model)
                            {
                                sum = sum + sp.ThanhTien ?? 0;
                            }
                        }
                        <div class="total">Tổng tiền: $@sum</div>
                        <button type="button" class="btn btn-primary">Mua hàng</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function change(e) {
            var parent = e.parentElement;
            console.log(parent.childNodes);
            if (e.innerText == '+') {
                parent.childNodes[2].value++;
            }
            else if (e.innerText == '-') {
                if (parent.childNodes[2].value > 1) {
                    parent.childNodes[2].value--;
                }
            }
        }

        function removeRow(e) {
            (e.parentElement).parentElement.style.display = 'none';
        }
    </script>
}
else
{
    @Html.Partial("ShopCartNull")
}

