
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/Content/styles/style.css">
    <link rel="stylesheet" href="~/Content/bootstrap-4.4.1-dist/css/bootstrap.css">
</head>

<body>
    <div class="header-wrapper">
        <div class="header">
            <ul class="items-wrapper">
                <li><img src="~/Content/images/logo.png" alt="logo" class="logo"></li>
                <li class="header-item">@Html.ActionLink("Home", "Index", "Index")</li>
                <li class="header-item">@Html.ActionLink("Keyboards", "Keyboard", "Keyboard")</li>
                <li class="header-item">@Html.ActionLink("Keycaps", "Keyboard", "Keyboard")</li>
                <li class="header-item">@Html.ActionLink("Switches", "Keyboard", "Keyboard")</li>
                <li class="header-item">@Html.ActionLink("Deskmats", "Keyboard", "Keyboard")</li>
                <li class="header-item dropdown">
                    @Html.ActionLink("Other", "Keyboard", "Keyboard")
                    <div class="dropdown-content">
                        @Html.ActionLink("Case", "Keyboard", "Keyboard")
                        @Html.ActionLink("Plate", "Keyboard", "Keyboard")
                        @Html.ActionLink("Stabilizer", "Keyboard", "Keyboard")
                        @Html.ActionLink("Cable", "Keyboard", "Keyboard")
                        @Html.ActionLink("Accessories", "Keyboard", "Keyboard")
                    </div>
                </li>
        </ul>
        <ul class="items-wrapper" style="position: absolute; right: 0;">
            <li><a href = @Url.Action("Shopcart","Shopcart")> <img src="~/Content/images/shop cart.png" alt="shop cart" class="shop-cart"></a></li>
            <li class="header-item">@Html.ActionLink("Login", "Login", "Login")</li>
        </ul>
    </div>
</div>
<div class="content-wrapper">
    @RenderBody()
</div>
<footer>
    <div class="footertop">
        <div class="prefixtext">
            <span class="text">Get Discount Info</span>
        </div>
        <div class="prefixbutton">
            <a href="#"><button class="buttonsub">Subscribe</button></a>
        </div>
    </div>
    <div class="footermid">
        <div class="box">
            <div class="name">Trần Đức Dũng</div>
            <div class="name">Nguyễn Sơn Nam</div>
        </div>
    </div>
    <div class="footerbot">
        <div>Bài tập công nghệ web 2020</div>
    </div>
</footer>
</body>
<script src='~/Content/scripts/flickity.pkgd.js'></script>
<script src='~/Content/bootstrap-4.4.1-dist/js/bootstrap.js'></script>

</html>
