
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/Content/styles/style.css">
    <link rel="stylesheet" href="~/Content/bootstrap-4.4.1-dist/css/bootstrap.css">
    <script src="~/Scripts/jquery-3.3.1.js"></script>
</head>

<body>
    <div class="header-wrapper">
        <div class="header">
            <ul class="items-wrapper">
                <li><a href = @Url.Action("Home","Home")><img src="~/Content/images/items/logo.png" alt="logo" class="logo"></a></li>
                <li class="header-item">@Html.ActionLink("Home", "Home", "Home")</li>
                <li class="header-item">@Html.ActionLink("Keyboards", "Lists", "Home", new { product = "Keyboards" }, new { })</li>
                <li class="header-item">@Html.ActionLink("Keycaps", "Lists", "Home", new { product = "Keycaps" }, new { })</li>
                <li class="header-item">@Html.ActionLink("Switches", "Lists", "Home", new { product = "Switches" }, new { })</li>
                <li class="header-item">@Html.ActionLink("Deskmats", "Lists", "Home", new { product = "Deskmats" }, new { })</li>
                <li class="header-item dropdown">
                    <a href="@Url.Action("ListsAll","Home")">Other</a>
                    <div class="dropdown-content">
                        @Html.ActionLink("Case", "Lists", "Home", new { product = "Case" }, new { })
                        @Html.ActionLink("Plate", "Lists", "Home", new { product = "Plate" }, new { })
                        @Html.ActionLink("Stabilizer", "Lists", "Home", new { product = "Stabilizer" }, new { })
                        @Html.ActionLink("Cable", "Lists", "Home", new { product = "Cable" }, new { })
                        @Html.ActionLink("Accessories", "Lists", "Home", new { product = "Accessories" }, new { })
                    </div>
                </li>
        </ul>
        <ul class="items-wrapper" style="position: absolute; right: 0;">
            <li><a href = @Url.Action("Shopcart","Home")> <img src="~/Content/images/items/shop cart.png" alt="shop cart" class="shop-cart"></a></li>
            @Html.Action("GetKhachHang","Home")
        </ul>
    </div>
</div>
<div class="content-wrapper">
    @RenderBody()
</div>
<footer>
    <div class="footertop">
        <div class="prefixtext">
            <span class="text">Get Discount Info</span>
        </div>
        <div class="prefixbutton">
            <a href="#"><button class="buttonsub">Subscribe</button></a>
        </div>
    </div>
    <div class="footermid">
        <div class="box">
            <div class="name">Trần Đức Dũng</div>
            <div class="name">Nguyễn Sơn Nam</div>
        </div>
    </div>
    <div class="footerbot">
        <div>Bài tập công nghệ web 2020</div>
    </div>
</footer>
</body>
<script src="~/Content/bootstrap-4.4.1-dist/js/bootstrap.js"></script>
</html>
